@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar a:hover,
#navbar a.active {
    color: #088178;
    position: relative;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    position: absolute;
    width: 50%;
    bottom: -3px;
    left: 25%;
    height: 3px;
    background-color: #088178;
    border-radius: 50px;
}

#hero {
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 30% right 0%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero p {
    margin: 3px 0 10px 0px;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: none;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    background-repeat: no-repeat;
    transition: 0.2s ease;
}

#hero button:hover {
    /* transform: scale(1.04); */
    text-transform: scale(1.5);
    color: #fff;
}

#feature .fe-box {
    padding: 25px 15px;
    text-align: center;
    width: 180px;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);

}

.fe-box h6 {
    padding: 9px 8px 6px 8px;
    background-color: rgb(247, 196, 204);
    width: max-content;
    border-radius: 5px;
    color: #088178;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(229, 226, 226);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
    position: relative;
    margin: 20px 0px;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 img {
    transition: transform .3s;

}

#product1 img:hover {
    transform: scale(1.05);

}

#product1 img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

#product1 .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#product1 .description span {
    color: #606063;
    font-size: 12px;
}

#product1 .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .description i {
    color: rgb(246, 170, 18);
    font-size: 12px;
}

#product1 .description h4 {
    color: #088178;
    font-weight: 700;
    padding-top: 7px;
    font: size 15px;
}

#product1 .pro-container .fa-shopping-cart {
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 20px;
    color: #088178;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    transition: 0.3s;
}

#product1 .pro-container .fa-shopping-cart:hover {
    color: #0ca59b;
    transform: scale(1.5);
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

#banner {
    background-image: url(img/banner/b2.jpg);
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
}

#banner span {
    color: rgb(210, 23, 23);
    font-size: 30px;
    padding: 10px 0px;
}


#banner button:hover {
    color: #fff;
    background-color: #088178;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    align-self: center;
    vertical-align: center;
    width: 100%;

}

#sm-banner .banner-box {
    background-image: url(img/banner/b17.jpg);
    background-size: cover;
    max-width: 100%;
    min-width: 500px;
    height: 50vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 20px;
    align-items: flex-start;
    padding: 30px;
}

#sm-banner h4 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

#sm-banner h2 {
    color: #fff;
    font-weight: 800;
    font-size: 28px;
}

#sm-banner span {
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
    font-size: 14px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

#sm-banner #banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: none;
}

#banner3 .banner3 {
    background-image: url(img/banner/b7.jpg);
    width: 30%;

    min-width: 400px;
    background-size: cover;
    background-position: center;
    height: 30vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-grow: 1;
    margin: 20px;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner3-2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .banner3-3 {
    background-image: url(img/banner/b18.jpg);
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    gap: 20px;
    background-size: cover;
    background-position: center;

}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    margin-top: 9px;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100%;
    border: none;
    outline: none;
    font: size 14px;
    border-radius: 4px;
    min-width: 300px;
}

#newsletter button {
    min-width: max-content;
    max-width: min-content;
    border-radius: 4px;
    background-color: #088178;
}

#newsletter .form {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer .col {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    gap: 10px;
}

#footer .col p {
    padding: 0;
    margin: 7px 0;
}

#footer .col .follow h4 {
    margin: 8px 0px;
}

#footer .col a {
    color: rgb(0, 102, 255);
    text-decoration: none;
}

#footer .col .img {
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    transition: 0.3s;
}

#footer .col .img:hover {
    transform: scale(1.05);
}

#footer {
    background-color: rgb(201, 201, 201);
}

body .copyright {
    background-color: rgb(201, 201, 201);
    padding: 0 0px 70px 0px;
    display: flex;
    justify-content: center;
}

#footer .icon a i {
    font-size: 30px;
    padding: 0px 10px 16px 0px;
}

/* Media Quries */
